extends ../layout

block styles
  link(rel="stylesheet" href="/static/css/styles.angelarium.css")

block content
  section.section
    section.section-results#angel-container
      .results-container#angel
        .results
          figure.imagen
            img(src="https://s3.amazonaws.com/mltmda-arcangeluz/Angelarium/Angelarium+Angel+v0987.jpg" alt="imagen-angel")
          .caracteristicas
            h4.nombre= angel.name
            p.periodo= `Periodo: Del ${angel.dayFrom} de ${angel.monthFrom} al ${angel.dayTo} de ${angel.monthTo}`
            p.descripcion= angel.description
            button.enlace#boton-arcangel
              a(href="#angel-container") REVELA ARCÁNGEL
      .results-container.fuera-arcangel#arcangel
        .results
          figure.imagen
            img(src=`${arcangel.imageUrl}` alt=`arcangel-${arcangel.name}`)
          .caracteristicas
            h4.nombre= `Arcángel ${arcangel.name}`
            p.periodo= `Día de la semana: ${arcangel.day}`
            p.descripcion= arcangel.description
            button.enlace
              a(href=`${arcangel.link}` target="_blank") SABER MÁS
            button.enlace#boton-angel
              a(href="#angel-container") REVELA ÁNGEL

block append scripts
  script(src="/static/js/angel-slide.js")